{% extends "sil01VitrineBundle::layout.html.twig" %}

{% block content %}
<link href="{{ asset('bundles/Sil01Vitrine/css/style.css') }}" rel="stylesheet" type="text/css"/>
<h1>Bienvenue sur My Awesome Shop !</h1>
{% endblock %}

{%block cart %}
    <fieldset class="cart">
        {{ render(controller('sil01VitrineBundle:Panier:afficherPanier')) }}
    </fieldset>
{% endblock %}