h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: center;
    padding: 8px;
}

/*encart panier sur chaque page*/
.cart {
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    margin-left: 80%;
}

tr:nth-child(even){background-color: #f2f2f2}